#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* Header/Navbar */
.nav-margins {
  margin-bottom: 30px;
}

/* Home */
.intro {
  margin-bottom: 40px;
}

.portfolioPic {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.profile {
  display: inline-flex;
}

.profile-links {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 110%;
  text-align: left;
  font-weight: bold;
}

.social-links {
  width: 35px;
  height: auto;
  /* border-radius: 15px; */
}

.about-me {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.about-me-text {
  text-align: left;
}

/* Skills page */
.skills-section {
  display: inline-flex;
}

.frontend-skills,
.backend-skills {
  margin: 20px;
  border: solid black 2px;
  border-radius: 15px;
  padding: 25px;
}

.skills-list {
  text-align: left;
  font-size: 115%;
}


.textDecNone {
  text-decoration: none;
}