#root {
  text-align: center;
  min-height: 100vh;
  background-color: #FCFFF7;
  color: #89043D;
  font-family:  Helvetica, Arial, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.textDecNone {
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links {
  color: #F45B69;
  font-weight: bold;
}
.links:hover {
  color: #89043D;
  transition: .3s ease;
}

/*////////  Header/Navbar (styles for nav colors in main.scss)  ////////*/
.nav-margins {
  margin-bottom: 30px;
}

.nav-style {
  border-bottom: solid 2px #89043D;
}

.nav-logo {
  border-radius: 50%;
  width: 35px;
  height: auto;
}

/*////////  Homepage  ////////*/
.intro {
  margin-bottom: 100px;
  margin-top: 70px;
  color: #F45B69;
  font-size: 220%;
}

.intro-name {
  font-weight: bolder;
  background: linear-gradient(76.8deg, #89043D 3.6%, #F45B69 90.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolioPic {
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #89043D;
}

.profile {
  display: inline-flex;
  justify-content: center;
}

.about-me { 
  margin-top: 20px;
  margin-left: 30px;
  font-size: 110%;
  text-align: left;
  width: 60%;
}

/*////////  Skills page  ////////*/
.my-skills-page {
  margin-top: 70px;
}

.skills-section {
  display: inline-flex;
}

.frontend-skills,
.backend-skills {
  width: 400px;
  margin: 20px;
  border: solid #89043D 3px;
  border-radius: 15px;
  padding: 30px;
  background: linear-gradient(76.8deg, #89043D 3.6%, #F45B69 90.4%);
  color: #FCFFF7;
}

.skills-list {
  text-align: center;
  font-size: 115%;
  list-style-type: none;
  margin-right: 20px;
}

.resume-link {
  border: solid 2px #89043D;
  border-radius: 15px;
  padding: 3px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F45B69;
  color: #FCFFF7;
}
.resume-link:hover {
  background-color: #89043D;
  transition: .3s ease;
}

/*////////  Portfolio  ////////*/
.project-background {
  background: linear-gradient(76.8deg, #89043D 3.6%, #F45B69 90.4%);
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.project-card-text {
  color: #89043D;
}

.project-card-text:hover {
  opacity: 1;
  color: #F45B69;
  transition: .5s ease;
}

/*////////  Contact page  ////////*/
.contact-container {
  margin-top: 70px;
}

.contact-form {
  margin-top: 40px;
}

.forms {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textboxLabel {
  display: inline-block;
  font-size: 125%;
  font-weight: bold;
}

.textbox {
  width: 450px;
  font-size: 16px;
  padding: 3px;
  background-color: #FCFFF7;
  border: #F45B69 solid 2px;
}

.btnContainer {
  text-align: center;
}

.submitBtn {
  background-color: #F45B69;
  color: #FCFFF7;
  border: solid #89043D 2px;
  padding: 6px;
  border-radius: 10px; 
  transition-duration: 0.4s;
}

.submitBtn:hover {
  background-color: #89043D;
  color: #FCFFF7;
}

.errorMessage {
  color: white;
  font-size: 110%;
  font-weight: bold;
  margin-top: -.5%;
}

.result {
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

/*////////  Footer  ////////*/
.footer {
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.divider {
  border-top: 2px #89043D solid;
}

.social-links {
  width: 30px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}
.linkedin-link {
  width: 36px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.social-links:hover,
.linkedin-link:hover {
  filter: invert(52%) sepia(65%) saturate(3823%) hue-rotate(324deg) brightness(105%) contrast(91%);
}


@media screen and (max-width: 1280px) {
  .about-me {
    width: 60%;
    margin-top: 5px;
  }

  .portfolioPic {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  /* Homepage */
  .profile {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolioPic {
    width: 300px;
    height: 300px;
  }

  .about-me {
    width: 50%;
    margin-top: 5px;
  }

  /* Skills page */
  .frontend-skills,
  .backend-skills {
    width: 350px;
  }

  /* Contact page */
  .contact-form {
    margin-top: 40px;
  }

  .textbox {
    width: 425px;
  }
}

@media screen and (max-width: 550px) {
  /* Homepage */
  .intro {
    margin-bottom: 30px;
  }

  .intro-name {
    display: inline-block;
    font-size: 125%;
  }

  .profile {
    display: inline-block;
  }

  .about-me {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Skills page */
  .skills-section {
    display: inline-block;
  }

  .frontend-skills,
  .backend-skills {
    width: 300px;
  }

  /* Contact page */
  .textbox {
    width: 375px;
  }
}
