// Custom variables
$navbar-light-color: #89043D;
$navbar-light-hover-color: #F45B69;
$navbar-light-active-color: #F45B69;
$navbar-light-toggler-border-color: #89043D;


// Import default boostrap scss files
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
